.bod{
    background-color: white  !important
    ;
}
.container-fluid {
    width: 1500px;
    background-color:rgb(211, 202, 202);
    color: black;
}
.col{
    padding: 10px 0px 0px 0px;
    font-size: larger;
    font-weight:700;
}
br {
    margin-bottom: 10px; /* Adds 10 pixels of space below the line break */
  }
  .center-line {
    border: none;
    border-top: 1px solid #000000;
    width: 100%;
    margin-top: 20px; /* Adjust as needed */
    margin-bottom: 20px; /* Adjust as needed */
  }  
  input[type="radio"]:checked {
    width: 20px;
    height: 20px;
    background-color: red;
    border-color: rgb(149, 255, 0);
  }
  .row-right{
    text-align: center;
    text-shadow: 5px;
  }
.btn{
    margin:10px 50px 30px 5px;
    box-shadow:  0px 4px 8px rgb(47, 106, 8);
}
   