{% extends "layout.html" %}
{% block body %}
<br>
<br>
<br>
 
<form action="/contact" method="post"  >
    <p><input class="w3-input w3-border" type="text" placeholder="Name" required name="name"></p>
    <p><input class="w3-input w3-border" type="text" placeholder="Email" required name="email"></p>
    <p><input class="w3-input w3-border" type="text" placeholder="Subject" required name="sub"></p>
    <p><input class="w3-input w3-border" type="text" placeholder="Message" required name="mes"></p>
    <p>
      <button class="w3-button w3-black" type="submit">
        <i class="fa fa-paper-plane"></i> SEND MESSAGE
      </button>
    </p>
  </form>

{% endblock %}