
<!DOCTYPE html>
<html>
<title>Mini Project</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="{{url_for('static',filename='css/index.css') }}" rel="stylesheet">
<body style=" background-color:#282C35;
color:#ECECEC;">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="{{url_for('static',filename='css/index1.css') }}" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
    crossorigin="anonymous"></script>
    <!-- Navbar (sit on top) -->
    <div class="w3-top">
      <div class="w3-bar w3-white w3-card" id="myNavbar">
        <img src="{{url_for('static',filename='img/logo2.png') }}" width="100" height="50" style="border-radius:none; box-shadow:none">
        <!-- Right-sided navbar links -->
        <div class="w3-right w3-hide-small">
          <a href="home" class="w3-bar-item w3-button">Home</a>
          <a href="#about" class="w3-bar-item w3-button">ABOUT</a>
          <a href="#team" class="w3-bar-item w3-button"><i class="fa fa-user"></i> TEAM</a>
          <a href="#work" class="w3-bar-item w3-button"><i class="fa fa-th"></i> WORK</a>
          
          <a href="contact" class="w3-bar-item w3-button"><i class="fa fa-envelope"></i> CONTACT</a>
          <a href="subscribe" class="w3-bar-item w3-button">Subscribe</a>
        </div>
        <!-- Hide right-floated links on small screens and replace them with a menu icon -->
    
        <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" onclick="w3_open()">
          <i class="fa fa-bars"></i>
        </a>
      </div>
    </div>
   
      <br>
      <br>
    {% block body %} {% endblock %}

    <footer class="w3-center w3-black w3-padding-64">
         
        <div class="w3-xlarge w3-section">
          <i class="fa fa-facebook-official w3-hover-opacity"></i>
          <i class="fa fa-instagram w3-hover-opacity"></i>
          <i class="fa fa-snapchat w3-hover-opacity"></i>
          <i class="fa fa-pinterest-p w3-hover-opacity"></i>
          <i class="fa fa-twitter w3-hover-opacity"></i>
          <i class="fa fa-linkedin w3-hover-opacity"></i>
        </div>
        
      </footer>
      <script src="{{url_for('static',filename='js\index.js') }}"></script>
    </body>
    </html>